<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.apache.cordova.exif"
    version="0.1.0">
    <name>ExifPlugin</name>
    <description>Exif Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,exif</keywords>
    <repo>https://github.com/coderReview/cordova-plugin-exif.git</repo>

    <js-module src="www/Exif.js" name="Exif">
        <clobbers target="navigator.exif" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Exif">
                <param name="android-package" value="org.apache.cordova.exif.Exif"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>

        <source-file src="src/android/org/apache/cordova/exif/Exif.java" target-dir="src/org/apache/cordova/exif" />
    </platform>

    <!-- ios -->
    <platform name="ios">
         <config-file target="config.xml" parent="/*">
             <feature name="Exif">
                 <param name="ios-package" value="CDVExif" />
             </feature>
         </config-file>
    </platform>
</plugin>